:root {
  --calculator-background-color: black;
  --calculator-shadow-color: #363636;
  --page-background-color: lightgray;
  --display-text-color: white;
  --display-background-color: black;
  --mem-key-text-color: white;
  --mem-key-background-color: #262626;
  --mem-key-pressed-text-color: black;
  --mem-key-pressed-background-color: #d9d9d9;
  --special-key-text-color: black;
  --special-key-background-color: #a4a4a4;
  --special-key-pressed-text-color: white;
  --special-key-pressed-background-color: #5b5b5b;
  --op-key-text-color: white;
  --op-key-background-color: #ff9c34;
  --op-key-pressed-text-color: black;
  --op-key-pressed-background-color: #ffcc00;
  --num-key-text-color: white;
  --num-key-background-color: #363636;
  --num-key-pressed-text-color: black;
  --num-key-pressed-background-color: #c9c9c9;
  --key-press-transition-in-duration: 100ms;
  --key-press-transition-out-duration: 300ms;
  --footer-color: #262626;
}

body {
  background-color: var(--page-background-color);
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer a, footer a:visited, footer a:hover {
  color: var(--footer-color);
}

footer {
  display: flex;
  justify-content: space-between;

  color: var(--footer-color);
  width: 100vw;
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
}

.links {
  width: 100px;
  margin: 0 10px;
}

.legal {
  margin: 0 10px;
}

ul {
  display: flex;
  justify-content: space-between;
}

.calculator {
  width: 270px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--calculator-background-color);
  border-radius: 10px;
  box-shadow: 10px 10px 15px var(--calculator-shadow-color);
}

.display {
  width: 260px;
  height: 35px;
  padding: 5px 5px;
  color: var(--display-text-color);
  background-color: var(--display-background-color);
  font-size: 32px;
  text-align: right;
}

.button-container {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.key {
  width: 60px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  border: none;
  border-radius: 10%;
  transition: all var(--key-press-transition-out-duration) ease-out;
}

.num-key {
  color: var(--num-key-text-color);
  background-color: var(--num-key-background-color);
}

.num-key-pressed {
  color: var(--num-key-pressed-text-color);
  background-color: var(--num-key-pressed-background-color);
  transition: all var(--key-press-transition-in-duration) ease-in;
}

.mem-key {
  font-size: 24px;
  color: var(--mem-key-text-color);
  background-color: var(--mem-key-background-color);
}

.mem-key-pressed {
  color: var(--mem-key-pressed-text-color);
  background-color: var(--mem-key-pressed-background-color);
  transition: all var(--key-press-transition-in-duration) ease-in;
}

.op-key {
  color: var(--op-key-text-color);
  background-color: var(--op-key-background-color);
}

.op-key-pressed {
  color: var(--op-key-pressed-text-color);
  background-color: var(--op-key-pressed-background-color);
  transition: all var(--key-press-transition-in-duration) ease-in;
}

.special-key {
  color: var(--special-key-text-color);
  background-color: var(--special-key-background-color);
}

.special-key-pressed {
  color: var(--special-key-pressed-text-color);
  background-color: var(--special-key-pressed-background-color);
  transition: all var(--key-press-transition-in-duration) ease-in;
}

/* Adjust footer for narrow screens */
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

/* Change layout for mobile landscape */
@media (max-height: 460px) {
  .calculator {
    width: 410px;
  }

  .button-container {
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
  }

  #mc {
    grid-area: 1 / 1;
  }

  #clear {
    grid-area: 1 / 2;
  }

  #num-7 {
    grid-area: 1 / 3;
  }

  #num-8 {
    grid-area: 1 / 4;
  }

  #num-9 {
    grid-area: 1 / 5;
  }

  #divide {
    grid-area: 1 / 6;
  }

  #mr {
    grid-area: 2 / 1;
  }

  #plus-minus {
    grid-area: 2 / 2;
  }

  #num-4 {
    grid-area: 2 / 3;
  }

  #num-5 {
    grid-area: 2 / 4;
  }

  #num-6 {
    grid-area: 2 / 5;
  }

  #multiply {
    grid-area: 2 / 6;
  }

  #m-minus {
    grid-area: 3 / 1;
  }

  #percent {
    grid-area: 3 / 2;
  }

  #num-1 {
    grid-area: 3 / 3;
  }

  #num-2 {
    grid-area: 3 / 4;
  }

  #num-3 {
    grid-area: 3 / 5;
  }

  #minus {
    grid-area: 3 / 6;
  }

  #m-plus {
    grid-area: 4 / 1;
  }

  #sqrt {
    grid-area: 4 / 2;
  }

  #num-0 {
    grid-area: 4 / 3;
  }

  #decimal-point {
    grid-area: 4 / 4;
  }

  #equals {
    grid-area: 4 / 5;
  }

  #add {
    grid-area: 4 / 6;
  }
}
