body {
  font-family: Times, "Times New Roman",  Georgia, serif;
  font-size: 18px;
  background-color: lightgray;
}

.container {
  width: 600px;
  max-width: calc(100vw - 32px);
  margin: auto;
  background-color: white;
  border-width: 0 1px 0;
  border-style: none solid none;
  border-color: black;
}

main {
  padding: 16px;
}

hr {
  border: none;
  border-top: 3px double black;
  width: 100%;
}

a, a:visited {
  color: #0000EE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: disc inside;
  margin-left: 16px;
}

li {
  line-height: 24px;
}

ul li ul {
  list-style: circle inside;
}

ul li ul li ul {
  list-style: square inside;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0 10px;
  text-align: center;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 16px;
  text-align: center;
}

/* Bullets around h2 */
h2::before, h2::after {
  content: "\2022";
}

h2::before {
  padding-right: 5px;
}

h2::after {
  padding-left: 5px;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 48px 0 8px;
  text-align: center;
}

h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 24px 0 8px;
  text-align: center;
}

h5 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 24px 0 8px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

tr:nth-child(odd) {
  background-color: #f8f8f8;
}

th {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #5b5b5b;
}

th, td {
  border: 1px solid darkgray;
  padding: 6px 13px;
}

p {
  margin: 20px 0;
  line-height: 24px;
}

.button {
  display: inline flow-root;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  text-align: center;
  line-height: 18px;

  color: white;
  background-color: black;

  padding: 2px 0;
  width: 25px;
  height: 18px;
  margin: 2px;

  border-radius: 4px;
}

.result {
  text-align: right;
}
